@import "variables";
html, body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.5rem;
  color: #262626;
}

ul, li {
    padding: 0 0 0 0;
}

div.search-form {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    

    .home-button {
        background: #4058e0;
        outline: none;
        color: #ffffff;
        width: 80px;
        height: 100%;
        border: 1px solid #4058e0;
        border-radius: 3px;

        &:hover {
            background-color: #3b8de0;
            color: #eff156;
            border: 1px solid #3b8de0;
        }
        
    }
    .my-search-form-tag {
        background: #ffffff;
        height: 100%;
        position: relative;
        margin: auto 7px;
        border: 1px solid #4058e0;
        outline: none;
        border-radius: 3px;

        .area-search{
            background: #4058e0;
            height: 100%;
            color: #ffffff;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            font-size: 13px;
            padding-bottom: 3px;
            
            &:hover {
                background-color: #3b8de0;
                color: #eff156;
                border: 1px solid #3b8de0;
            }
        }
        
        .tag-search {
            background: #ffffff;
            font-size: 18px;
            width: 100%;
            padding: 0 20px;
            border: none;
            border-radius: 3px;
        }
        
        .search-button {
            width: 100px;
            height: 100%;
            border: 0px;
            background: #4058e0;
            outline: none;
            color: #ffffff;
            font-size: 13px;
            padding-bottom: 3px;

            &:hover {
                background-color: #3b8de0;
                color: #eff156;
                border: 1px solid #3b8de0;
            }
    
        }
    }
    .random-button {
        width: 100px;
        height: 100%;
        border: 0px;
        background: #4058e0;
        outline: none;
        color: #ffffff;
        border-radius: 3px;

        &:hover {
            background-color: #3b8de0;
            color: #eff156;
            border: 1px solid #3b8de0;
        }

        
    }
}

.hangout-list {
    float: left;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    .hangout-list-wrap {
        margin-top: 10px;
        list-style: none;
        
        .hangout-list-nav {
            margin-top: 10px;
            margin-left: 180px;
            margin-right: 180px;
            padding: 5px;
            list-style: none;
            border-top: 1px solid black;
            font-size: 18px;
            display: inline-block;
        }
        .hangout-list-nav-descript {
            list-style: none;
            text-align: center;
        }
    }
}